body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin:0;
  width:100%;
}
header{
  background-color: #3399cc;
  padding : 10px;
}
.heading{
  font-family: 'Century Gothic';
  color:#ffffff;
  font-weight: 100;
  margin: 0px;
  font-size: 53px;
}

.navbar{
  background-color: #333333;
  display: flex;
  text-align: center;
  padding: 0px;
  justify-content: space-between;
}
.homeButton {
  display: flex;
  justify-content: space-between;

}
.homeButton{
  padding:15px 12px 15px 15px;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  border-color: #333333;
  color: white;
}

.homeButton :hover{
  background-color: #f89502;
  border-color: white;
  color: black;
  cursor: pointer;
  font-weight: bolder;
}

.navbar{
  background-color: #333333;
  display: flex;
  text-align: center;
  padding: 0px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.navbarIcons{
  display: flex;
  justify-content: space-between;
}
.navIcons{
  padding: 3px 8px 3px 8px;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  border-color: #333333;
  color: white;
}
.navIcons:hover{
  background-color: #f89502;
  border-color: white;
  color: black;
  cursor: pointer;
  font-weight: bolder;
}
.path{
  color: inherit;
  font-family: Ebrima;
  padding : 10px;
  font-size: 15px;
  font-weight:bolder;
  text-decoration: none;
}

.formInputs{
  margin-left: 15px;
}


.formDiv{
  text-shadow: #333333 1px 0px 0px;
  display: flex;
  padding-top: 10px;
  padding-left : 25px;
  padding-bottom : 25px;
  margin-left: 70px;
  margin-top : 20px;
  margin-bottom: 10px; 
  box-shadow: 6px 6px 6px 6px #4e4e4e;
  animation: normal;
  
}


form{
  padding: 5px;
  font-size: medium;
  
}

text{
  
  display: flex;
  padding: 20px;
  font-family:'Leelawadee UI';
  color: rgb(83, 83, 83);
  text-shadow: 0px 0px 1px;
}
.addbtn{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 100px;
  height: 40px;
  background-color: #468c00;
  border-width: 0px;
  color: white;
  font-size: 18px;
  margin: 5px;
  padding-left : 45px;
  padding-right : 45px;
}
.addbtn:hover{
  cursor: pointer;
}
.addBtns{
  
  margin-left: 500px;
}

#blogIcon{
  margin: 8px;
  margin-right: 25px;
  padding-left: 6px;
}

.MobileLandlineDiv{
 
  display: flex;
  justify-content: flex;
  align-items: center;
  margin-right: 20px;

}


#landline{
  margin-left : 20px;
 
}
.activePage{
  background-color: #f89502;
  border-color: white;
  color: black;
  font-weight: bolder;
}

input {
  height: 35px;
  border-color: #919191;
  border-width: 2px;
  font-size: 20px;
  border-style: solid;
  width: 75%;
  margin: 10px;
  
}
.landlineInput {
  width: 75%;
  display: table-column;
  margin-right: 0px;
  margin: 0;
}
.mobileInput{
  width: 75%;
  margin: 0;

}
textarea{
  height: 80px;
  border-color:#919191;
  border-width: 2px;
  font-size: 20px;
  border-style: solid;
  width: 75%;
  margin-left: 10px;
  resize: none;
}
.flex{
  display: flex;
}
.flex .left{
  width: 400px;
  padding: 20px;
}
.flex .right{
  
}
.left .contacts .contact{
  border: solid 1px #444444;
  padding: 0px 20px;
  cursor: pointer;
}
.left .contacts .contact:hover{
  background-color: lightblue;
}
.left .contacts .contact .title{
  font-size: 30px;
  margin: 0;
  color: rgb(83, 83, 83);
  text-shadow: 0px 0px 1px;
}
.flex .contacts p{
  margin: 5px 0px;
  color:rgb(83, 83, 83);
  text-shadow: 0px 0px 1px;
}
.contactss{
  margin-left: 30px;
  color: rgb(83, 83, 83);
  text-shadow: 0px 0px 1px;
  font-weight: solid;
  font-family: 'Leelawadee UI';
}
.flex .right{
  padding: 20px 100px;
}
.right h1 {
  margin: 0;
  color: rgb(83, 83, 83);
  text-shadow: 0px 0px 1px;
  font-weight: normal;
  font-family: 'Leelawadee UI';
}
p{
  margin-top: 7px;
  color: rgb(83, 83, 83);;
  font-weight: normal;
  font-family: 'Leelawadee UI';
  text-shadow: 0px 0px 1px;
}
.flex .right .flex{
  align-items: center;
  justify-content: space-between;
}
.flex .right .flex button{
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
 
}
.right{
  margin-left: 100px;
  align-items: center;
}
.flex2{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.displayFlex{
  display: flex;
}
.EditDelete{
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 190px;
}
.deleteButton{
  margin-left: 50px;
}

.spaceBetween{
  margin: 5px;
  
}